.main_chat
  .main_chat__group-info
    .main_chat__group-info__group-edit
      .main_chat__group-info__group-edit--group-name
        = @group.name
      = link_to edit_group_path(@group), class:"main_chat__group-info__group-edit--edit-btn" do
        Edit 
    .main_chat__group-info__group-member
      Member : 
      - @group.users.each do |user|
        = user.name
  .main_chat__message-list
    = render @messages
  .main_chat__message-form
    .main_chat__message-form__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "f__input", type: "text", placeholder: "type a message"
        = f.label :image, class: "f__icon" do
          = icon('fas', 'images')
          = f.file_field :image, class: "f__icon--icon-message",type: "file"
        = f.submit "Send", class: "f__send-btn", type: "submit", value: "Send"