.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      .side_bar__user-name__top-items__name
        = current_user.name
      .side_bar__user-name__top-items__icons
        = link_to new_group_path, class:"side_bar__user-name__top-items__icons--icon1" do
          <i class="far fa-edit"></i>
          %span<>
        = link_to edit_user_path(current_user), class:"side_bar__user-name__top-items__icons--icon2" do
          <i class="fas fa-cog"></i>
          %span<>
  .side_bar__group-list
    .side_bar__group-list__section
      - current_user.groups.each do |group|
        .group
          = link_to "#", class:"link1" do
            .side_bar__group-list__section__group-name
              = group.name
            .side_bar__group-list__section__message
              <b>まだメッセがないよ</b>




